<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sgn.cookieJamBlast"
      android:versionCode="1"
      android:versionName="1.0">
      <manifestAdditions><![CDATA[
          <manifest android:installLocation="auto">
            <uses-permission android:name="android.permission.INTERNET"/>
            <application android:enabled="true" @ANDROID_DEBUGGABLE@>
              <activity android:name="com.jesusla.ane.CustomActivity"/>
              <meta-data android:name="" android:value=""/>
            </application>
          </manifest>
        ]]></manifestAdditions>
</manifest>


